/**
 * Define base colours.
 *
 * @var {Color} $color-black
 * @var {Color} $color-white
 * @var {Color} $color-grey
 */

$color-black: #000;
$color-white: #FFF;
$color-grey: mix($color-black, $color-white, 50%);


/**
 * Assign colours to semantic variable names.
 *
 * @var {Color} $color-theme-background
 * @var {Color} $color-theme-text
 */

$color-theme-background: $color-white;
$color-theme-text: $color-black;
