/**
 * Set the base font unit. This value will be converted to vw (viewport width)
 * units plus 1em, then assigned to $font-unit (see settings/type.scss).
 *
 * @var {Number} $base-font-unit
 */

$base-font-unit: 0.1;


/**
 * Set the base spacing unit. This value will be converted to rem (root em)
 * and assigned to $spacing-unit (see settings/spacing.scss).
 *
 * @var {Number} $base-spacing-unit
 */

$base-spacing-unit: 1;


/**
 * Set the base line height ratio.
 *
 * @var {Number} $base-line-height
 */

$base-line-height: 1.5;
