/**
 * Set the default spacing unit variable by converting the base spacing unit
 * value (see settings/units.scss) to rem (root em).
 *
 * @var {Number} $spacing-unit
 */

$spacing-unit: ($base-spacing-unit * 1rem);


/**
 * Define proportional spacing unit variables as a factor or multiple of the
 * default spacing unit.
 *
 * @var {Number} $spacing-unit-half
 * @var {Number} $spacing-unit-quarter
 * @var {Number} $spacing-unit-eighth
 */

$spacing-unit-half: ($spacing-unit / 2);
$spacing-unit-quarter: ($spacing-unit / 4);
$spacing-unit-eighth: ($spacing-unit / 8);


/**
 * Set the default gutter width. This value will be used to calculate margins
 * in the objects layer.
 */

$gutter-width: $spacing-unit;
