/**
 * Set the default font unit variable by converting the base font unit (see
 * settings/units.scss) to vw (viewport width) units and adding the value to 1em.
 */

$font-unit: calc(#{$base-font-unit * 1vw} + 1em);


/**
 * Define proportional font unit variables.
 *
 * @var {Number} $font-unit-half [0.5]
 */

$font-unit-half: 0.5;


/**
 * Define semantic font unit variables.
 *
 * @var {Number} $font-unit-h1
 * @var {Number} $font-unit-h2
 * @var {Number} $font-unit-h3
 * @var {Number} $font-unit-h4
 * @var {Number} $font-unit-h5
 * @var {Number} $font-unit-h6
 * @var {Number} $font-unit-small
 * @var {Number} $font-unit-micro
 */

$font-unit-h1: 2.75;
$font-unit-h2: 2;
$font-unit-h3: 1.5;
$font-unit-h4: 1.25;
$font-unit-h5: 1.125;
$font-unit-h6: 1.125;
$font-unit-small: 0.875;
$font-unit-micro: 0.75;


/**
 * Define font family variables.
 *
 * 1. Presumes the installation of Font Awesome (see font-awesome.scss).
 *
 * @var {List} $type-sans
 * @var {List} $type-serif
 * @var {List} $type-mono
 * @var {List} $type-icon
 * @var {List} $type-display
 */

$type-sans: Helvetica, Arial, sans-serif;
$type-serif: Georgia, Times, serif;
$type-mono: Courier, Courier New, monospace;
$type-icon: 'Font Awesome\ 5 Free'; /* 1 */
$type-display: $type-sans;


/**
 * Assign numeric font-weight values to semantic variable names.
 *
 * @var {Number} $type-thin [100]
 * @var {Number} $type-extralight [200]
 * @var {Number} $type-light [300]
 * @var {Number} $type-regular [400]
 * @var {Number} $type-medium [500]
 * @var {Number} $type-semibold [600]
 * @var {Number} $type-bold [700]
 * @var {Number} $type-extrabold [800]
 * @var {Number} $type-black [900]
 */

$type-thin: 100;
$type-extralight: 200;
$type-light: 300;
$type-regular: 400;
$type-medium: 500;
$type-semibold: 600;
$type-bold: 700;
$type-extrabold: 800;
$type-black: 900;
