.u-font-weight-semibold {
  font-weight: $type-semibold !important;
}

.u-text-align-left {
  text-align: left !important;
}

.u-text-align-center {
  text-align: center !important;
}

.u-text-align-right {
  text-align: right !important;
}

.u-text-decoration-none {
  text-decoration: none !important;
}

.u-text-transform-lowercase {
  text-transform: lowercase !important;
}

.u-text-transform-uppercase {
  text-transform: uppercase !important;
}
