.u-max-width-1\/2 {
  max-width: ($width-page-max / 2) !important;
}

.u-max-width-2\/3 {
  max-width: (($width-page-max / 3) * 2) !important;
}

.u-max-width-3\/4 {
  max-width: (($width-page-max / 4) * 3) !important;
}
