:root {
  background-color: $color-theme-background;
  background-color: var(--color-theme-background, #{$color-theme-background});
  color: $color-theme-text;
  color: var(--color-theme-text, #{$color-theme-text});
  font-family: $type-sans;
  font-size: $font-unit;
  line-height: $base-line-height;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
