/**
 * Give an element equal height and width, and center-align its content.
 * This mixin is intended for use with the `icon` component.
 *
 * @param {Number} $val [3em]
 */

@mixin theme-icon($val: 3em) {
  height: $val;
  line-height: $val;
  text-align: center;
  width: $val;
}
