/**
 * Enclose a ruleset inside a media query.
 *
 * @param {String} $media-query
 * The alias of the desired media query. This alias must match a key in
 * $media-queries (see settings/media-queries.scss).
 */

@mixin theme-media-query($media-query) {

  /**
   * If $media-query matches a key in $media-queries, convert the corresponding
   * value into a media query and enclose the ruleset.
   */

  @if type-of($media-query) == 'string' and map-has-key($media-queries, $media-query) {
    @media #{map-get($media-queries, $media-query)} {
      @content;
    }
  }

  /**
   * If $media-query does not match a key in $media-queries, return an error.
   */

  @else {
    @error 'This media query (#{$media-query}) does not return a match.';
  }
}
