/**
 * Enclose a ruleset inside a feature query.
 *
 * @param {String} $feature-query
 * The alias of the desired feature query. This alias must match a key in
 * $feature-queries (see settings/feature-queries.scss).
 */

@mixin theme-feature-query($feature-query) {

  /**
   * If $feature-query matches a key in $feature-queries, convert the corresponding
   * value into a feature query and enclose the ruleset.
   */

  @if type-of($feature-query) == 'string' and map-has-key($feature-queries, $feature-query) {
    @supports #{map-get($feature-queries, $feature-query)} {
      @content;
    }
  }

  /**
   * If $feature-query does not match a key in $feature-queries, return an error.
   */

  @else {
    @error 'This feature query (#{$feature-query}) does not return a match.';
  }
}
